<div class="footer">
    <div class="copyright text-center">
        <p>Copyright © Designed &amp; Developed by <a href="http://dexignlab.com/" target="_blank">DexignLab</a>
            2020</p>
    </div>
</div>